body{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
#heading{
    
}
h3{
    margin-top: -30px;
    margin-bottom: -30px;
    color: goldenrod;
}
hr{
    border: solid 2px;
}



/* Dice rolls */
.dice{
    margin: 30px;
    float: left;
    border: solid 1px;
}
.dice table{
    border: solid 1px black;
    
    
}
#dicetable{
    padding: 10px;
    border-collapse: collapse;
}
#dicetable tr{
    
    
}
#dicetable tr td{
    padding: 0px;
}
#dicetable input{
    width: 100px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 20px;
}
#dicetable button{
    width: 70px;
    padding-bottom: 10px;
    padding-top: 10px;
}


/* Name Genorator */
.names{
    float: left;
    clear: both;
}


/* criticle and fumble table */
.critfumb{
    margin-top: -20px;
    padding: 5px;
    float: left;
}
.critfumb table{
    line-height: 1.2;
    border: 1px solid black;
}
.critfumb table tr{
    border-collapse: collapse;
}
.critfumb table td{
    font-size: 15px;
    width: 150px;
}
.critfumb table th{
    font-size: 20px
}
#center{
    text-align: center;
}
#left{
    text-align: left;
}



/* thaco table */
.thaco{
    margin-top: -20px;
    padding: 5px;
    float: left;
}
.thaco table{
    line-height: 1.5;
    border: 1px solid black;
}
.thaco table h4{
    text-align: center;
}
.thaco table tr{
    border-collapse: collapse;
}
.thaco table th{
    text-align: left;
}
.thaco table td{
    text-align: center;
    padding: 3px
}


/* to hit calculaction */
.tohit input{
    width: 80px;
}
