body{
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    
}
#heading{
    
}
h3{
    margin-top: -30px;
    margin-bottom: -30px;
    color: goldenrod;
}
h4{
    font-size: 20px;
    text-align: center;
}
hr{
    border: solid 2px;
}



/* Dice rolls */
.dice{
    margin: 10px;
    margin-left: 23px;
    margin-top: 20px;
    border: solid 2px;
    border-collapse: collapse;
    float: left;
}
#dicetable{
    height: 180px;
    padding: 3px;
    border: solid 1px;
}
#dicetable input{
    width: 100px;
    height: 25px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 20px;
}
#dicetable button{
    width: 70px;
    padding-bottom: 10px;
    padding: 5px;
    font-size: 18px;
}


/* Name Genorator */
.names{
    float: left;
    clear: both;
}


/* criticle and fumble table */
.critfumb{
    border: solid 2px;
    margin 10px;
    margin-top: 20px;
    float: left;
}
.critfumb table{
    height: 180px;
    border: solid 1px;
}
.critfumb table tr{
    
}
.critfumb table td{
    font-size: 15px;
    width: 150px;
}
.critfumb table th{
    font-size: 20px;
}
.critfumb h4{
    font-size: 20px;
}
#center{
    text-align: center;
}
#left{
    text-align: left;
}



/* thaco table */
.thaco{
    border: solid 2px;
    margin: 10px;
    margin-top: 20px;
    float: right;
}
.thaco table{
    height: 180px;
    border: 1px solid black;
}
.thaco table tr{
    border-collapse: collapse;
}
.thaco table th{
    text-align: left;
}
.thaco table td{
    text-align: center;
    padding: 3px
}


/* to hit calculaction */
.tohit{
    margin: 10px;
    margin-left: 20px;
    clear: left;
    float: left;
    border: solid 1px;
    padding: 10px;
}
.tohit input{
    width: 80px;
}

/* Priest Turning Table */
.turning{
    float: left;
    margin: 10px;
    border: solid 2px;
}
.turning table{
    
}
.turning table tr{
    
}
.turning table td{
    text-align: center;
    padding: 5px;
}



























