body{
    margin-left: 100px;
    margin-right: 100px;
}
#heading{
    
}
h3{
    margin-top: -30px;
    margin-bottom: -30px;
    color: goldenrod;
}



/* Dice rolls */
.dice{
    float: left;
    
}
#dicetable{
    padding: 10px;
}
#dicetable tr td{
    padding: 0px
}
#dicetable tr td input{
    width: 100px;
}
#dicetable tr td button{
    width: 50px;
}


/* Name Genorator */
.names{
    float: left;
    clear: both;
}


/* criticle and fumble table */
.critfumb{
    padding: 20px;
    float: left
}
.critfumb #x{
    text-align: center
}



/* thaco table */
.thaco{
    padding: 10px;
    float: left;
}
.thaco table{
    line-height: 1;
    border: 1px solid black;
}
.thaco table h4{
    text-align: center;
}
.thaco table tr{
    border-collapse: collapse;
}
.thaco table th{
    text-align: left;
}
.thaco table td{
    text-align: center;
    padding: 3px
}


/* to hit calculaction */
.tohit input{
    width: 80px;
}
